:root {
  --background-grey-light: #454f54;
  --background-grey-dark: #2c3236;
}

*{
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  height: 100dvh;
  flex-direction: column;
}

.grid-element {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

#grid-element-lennart {
  background-color: var(--background-grey-light);
  border: 0;
}

#grid-element-dana {
  background-color: var(--background-grey-dark);
  border: 0;
}

.name {
  text-align: center;
  font-size: 2.4rem;
  margin-top: .9rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
}

.stand {
  text-align: center;
  font-size: 5rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons > button {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  font-size: 5rem;
  border: solid 1px black;
  border-radius: 50%;
  opacity: 1;
  color: white;
}

/*
#buttons-lennart {
  background-color: var(--background-grey-light);
}

#buttons-dana {
  background-color: var(--background-grey-dark);
}
*/

.buttons > button:active {
  opacity: .7;
}

@media (min-width: 850px) and (min-height: 500px) {
  body{
    background-color: #ebebeb;
  }
  
  .main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
  }
  .grid-element {
    height: 24rem;
    width: 24rem;
    border-radius: 2rem;
    box-shadow: 0 0 40px 2px gray;
  }
}
